#footer {
    background: url(/public/imgs/footer.png) no-repeat center center ;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    padding-top: 30px;
    margin-top: 60px;
    clear: both;
    color: #AAA;
    display: block;
}

#footer .widgettitle {
    margin: 0px;
    padding: 0px 0px 15px;
    border-bottom: medium none;
}

#footer h4 {
    color: #FFF;
}

#footer ul {
    list-style: outside none none;
}

#footer li {
    padding: 7px 0px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin: 0px;
}


.form input:required, .form textarea:required {
    background: #fff url(images/red_asterisk.png) no-repeat 98% center;
} 

.form input:focus + .form_hint {
display: inline;
}

.form input:required:valid + .form_hint {
background: #d45252;
}

#contact_form input:required:valid + .form_hint::before {
    color: #28921f;
}

.form_hint {
background: #d45252;
border-radius: 3px 3px 3px 3px;
color: white;
margin-left: 8px;
padding: 1px 6px;
z-index: 9999; /* hints stay above all other elements */
position: absolute; /* allows proper formatting if hint is two lines */
display: none;
    width:200px;
    text-align: left;
}

.form_hint::before {
    color: #d45252;
    position: absolute;
    top: 1px;
    left: -6px;
            
}